*{
    margin: 0em;
    padding: 0em;
}
body{
    background: #444;
    color: azure;
}
#contenedor{
    width: 70em;
    margin: auto;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    border-radius: 2.5em;
    overflow: hidden;
}
header{
    height: 150px;
    background: black;

}
header h1{
    font-size: 50px;
    text-align-last: center;
    line-height: 150px;
}
nav{
    background: orange;
    height: 60px;
    margin-top: 0.5em;
    margin-bottom: 0.2em;
}
nav h2{
    font-size: 40px;
    text-align: center;
    line-height:60px;
}
nav p{
    font-size: 2.5em;
    text-align:justify;
    line-height: 2.5em; 
}
#contenido{
    width: 52em;
    height: 32em;
    float: left;
    background: blue;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
#contenido h2{
    font-size: 40px;
    text-align: center;
    line-height:500px;
}
aside{
    width: 16em;
    height: 32em;
    background: green;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    float: right;
}
aside h2{
    font-size: 40px;
    text-align: center;
    line-height:500px;
}
footer{
    background: black;
    clear: both;
}
footer h2{
    font-size: 40px;
    text-align: center;
    padding: 20px;
    font-style: italic;
}