/*-- Bsico ---------------------------------------------------------*/
ul, ul li { margin: 1.5px; padding: 10; list-style: none; }
h1, h2, h3, p, form { margin: 5; padding: 10; }
.clear { clear: both; }
img { border: none; }
body{
    font: 0.9em/1.4 arial, helvetica, sam-serif;
    color: #000;
}

/*-- Layout ---------------------------------------------------------*/
#contenedor {
 width: 90%;
 max-width: 900px;
 width: expression(document.body.clientWidth > 901? "900px": "auto");
 margin: 0 auto;
}
 
#cabecera, #menu, #lateral, #contenido, #contenido #principal, #contenido #secundario, #pie {
 border: 1px solid #777;
}
 
#cabecera { clear: both; }
#menu { clear: both; }
#lateral { float: left; width: 20%; }
#contenido { float: right; width: 78%; }
#contenido #principal { float: left; width: 78%; }
#contenido #secundario { float: right; width: 20%; }
#pie { clear: both; }
 
#cabecera{
    background:white;
}
/*-- Cabecera --------------------------------------------------------*/
#cabecera #logo { float: left; }
#cabecera #buscador { float: right; }
 
/*-- Menu ------------------------------------------------------------*/
#menu ul#menu_principal li { display: inline; float: left; }
 
/*-- Seccin Principal -----------------------------------------------*/
#contenido #principal .articulo img { width: 100px; float: left; }
 
/*-- Pie de pgina ---------------------------------------------------*/
#pie .enlaces   { float: left; }
#pie .copyright { float: right; }


#contenido #principal .articulo h2{
    color: #c60;
    font-size: 1.6em;
    line-height: 1.2em;
    margin-bottom: 0.1em;
}
/***********estilos del menu********/
#menu{
    background:#cc6600;
    border-bottom: 0.2em;
    margin-bottom: 0.3em;

}   
#menu li{
    font-size: 1.3em;
    margin-right: 0.2em;    
}
#menu li a{
    color:#fff
}
/*************fin estilos menu*******/
/*******laetaral******/
#lateral{
    font-size: 0.9em;
}
#lateral #noticias span.fecha{
    display:block;
    color:#999;
}
#laetral #noticas  h3 a{
    color: #036;
}
#lateral #publicidad{
    color: #555;

}
#lateral #publicidad a{
    color:orangered;
}
/**********fin seccion lateral******/
/*******seccion articulo******/
.articulo a{
    color:#c60
}
.articulo p{
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}
/*********secundario***********/
#contenido #secundario{
    border:1px solid #c60;

}
#contenido #secundario h2{
    background: #db905c;
    font-size: 1em;
    color:#fff;
    padding:0.2em;
}
#contenido #secundario p{
    margin: 0.5em 0;
}
/*********fin**********/
/*****pie*****/
#pie{
    border-color: 1px solid #c5c5c5;
    border-bottom: 1px solid #c5c5c5;
    background: #f8f8f8;
    font-size: 0.75em;
    padding: 0.5em 0;
    margin-top: 1em;


}
/****in de pie*****/
#cabecera, #menu, #lateral, #contenido, #contenido #principal, #contenido #secundario, #pie {
    border-style: none;
    padding: 0.2em;
}
#menu{
    border-bottom: 1px solid #004c99;

}
#lateral #noticias{
    border: 1px solid #c5c5c5;
    padding: 0.3em;
    margin-top: 1em;
}
#lateral #publicidad{
    border: 1px solid #cc6600;
    padding: 0.3em;
    margin-top: 1em;
}
#contenido #secundario{
    border: 1px solid #cc6600;
    padding: 0.2em;
    margin-top: 1em;